<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stemi.STEMIHexapod">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainActivityTheme">
        <activity
            android:name="com.stemi.STEMIHexapod.activities.ConnectingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stemi.STEMIHexapod.activities.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.loncar.stemi.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.stemi.STEMIHexapod.activities.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="com.loncar.stemi.SETTINGSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stemi.STEMIHexapod.activities.IPActivity"
            android:label="IP address"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="com.loncar.stemi.IPACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stemi.STEMIHexapod.activities.HeightActivity"
            android:label="Adjust height"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="com.loncar.stemi.HEIGHTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stemi.STEMIHexapod.activities.CalibrationActivity"
            android:label="Calibration"
            android:screenOrientation="landscape"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="com.loncar.stemi.CALIBRATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stemi.STEMIHexapod.activities.WalkingstyleActivity"
            android:label="Walking style"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="com.loncar.stemi.WALKSTYLEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>